.navbar
    .navbar-brand
        img 
            width: 100px
            height: 100px
            object-fit: contain
    .navbar-nav
        .nav-link
            font-weight: bold
            color: $light
            transition: .5s ease-in all
            &:hover
                color: $neg
        .dropdown
            a
                &:focus
                    color: $neg
            .dropdown-item
                font-weight: bold
                color: $light
                transition: .3s ease-in all
                &:hover
                    background: $neg
                    color: white
                