.container
    .suscriptions, .packs
        .btn.btn-warning
            font-weight: bold
            background: $principal
            color: $dark
            border: none
            transition: .3s ease all
            &:hover
                background: $light
                color: $principal
        .suscrip-cards, .packs-cards
            .card
                display: block
                width: 100%
                max-width: 400px
                border: none
                box-shadow: 0px 3px 6px #00000029
                animation: show .3s alternate
                transition: .3s ease all
                &:hover
                    transform: translateY(-10px)
                h5
                    font-size: 20px
                    font-weight: bold
                    color: $neg
                .img-fluid
                    width: 100%
                    max-width: 150px
                    max-height: 150px
                    object-fit: contain
                b
                    font-size: 14px
                    font-weight: bold
                    color: $dark
                .price
                    color: $neg
                    font-size: 22px
                    font-weight: bold
                .btn
                    font-weight: bold
                    width: 120px